<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean name="customerServiceSetterInjection" class="com.shu.nit.di.service.impl.SetterInjectionCustomerServiceImpl">
	  <property name="customerRepositoryImpl" ref="customerRepositoryImpl" />
	</bean>
	
	<bean name="customerServiceConstructorInjection" class="com.shu.nit.di.service.impl.ConstructorinjectionCustomerServiceImpl">
	  <constructor-arg name="customerRepositoryImpl" ref="customerRepositoryImpl"/>
	</bean>
	
	<bean name="autowireByNameCustomerService" class="com.shu.nit.di.service.impl.SetterInjectionCustomerServiceImpl" autowire="byName"/>
	
	<bean name="autowireByTypeCustomerService" class="com.shu.nit.di.service.impl.SetterInjectionCustomerServiceImpl" autowire="byType"/>
	
	<bean name="autowireByConstructorCustomerService" class="com.shu.nit.di.service.impl.ConstructorinjectionCustomerServiceImpl" autowire="constructor"/>
	
	<context:annotation-config />
	<context:component-scan base-package="com.shu.nit" />
</beans>
